* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightcyan;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: 0.25s;
}


.header {
    text-align: center;
    padding: 1rem;
}

.search-levels-input {
    padding: 0.25rem 1rem;
    margin-bottom: 1rem;
}

#sortCheckbox {
    padding: 0.5rem;
}

/* array container */
#levels-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;

    background-color: white;

    padding: 1rem;
    margin: 0 1rem;
    border-radius: 5px;
    box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    #levels-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* array item container */
.level-container {
    display: grid;
    grid-template-rows: auto 20px auto;
    gap: 1rem;

    background-color: #eeeeee;
    
    padding: 1rem 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

/* display difficulty, name, and creator */
.details {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;

    margin: auto;
}

.details-difficulty-img {
    width: 100px;
}

.details-difficulty-text {
    text-align: center;
    margin-top: 0.5rem;
}

.details-text {
    align-self: center;
}

.details-text-name, .details-text-creator { 
    text-align: center;
}

/* display percentage */
.percent-container {
    grid-column: 1 / -1;
    grid-row: 2 / -1;

    width: 100%;
    height: 24px;

    background-color: black;
    border-radius: 5px;
}

.percent-bar {
    width: 0%; /* Change in JS */
    height: 24px;
    background-color: #32881a;
    border-radius: 5px;
}

.percent-value {
    /* place in the center of the bar */
    position: relative;
    text-align: center;
    top: -21px;
    font-weight: bolder;
    color: white;
}

/* data manipulation buttons */
.level-btn-container {
    grid-column: 1 / -1;
    grid-row: 3 / -1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;

    gap: 0.5rem;
}

.update-btn {
    width: 50%;
    background-color: azure;
}

.delete-btn {
    width: 50%;
    background-color: darkred;
    color: white;
}

.add-btn {
    background-color: darkblue;
    color: white;
    font-weight: bolder;

    display: block;
    margin: 1rem auto; 

    width: 90%;
}
.add-btn:hover {
    background-color: blue;
}

/* modal styling */
.modal-container {  
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* fallback */
    background-color: rgba(0,0,0,0.5);
}

.modal-form {
    background-color: white;
    padding: 2rem 1rem;
    margin: 15% auto;
    border-radius: 5px;
    box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.3);
    width: 80%;
}

.modal-form > input, 
.modal-form > select {
    padding: 0.25rem 0.5rem;
}

.modal-form > input[type="submit"] {
    background-color: darkblue;
    color: white;
    font-weight: bolder;
}
.modal-form > input[type="submit"]:hover {
    background-color: blue;
}